---
import Layout from "../../layouts/Layout.astro";
import Comment from "../../components/Comment";

const { id } = Astro.params;

type Story = {
  type: "story";
  by: string;
  descendants: number;
  id: number;
  kids: number[];
  score: number;
  time: number;
  text: string;
  title: string;
  url: string;
};

const story: Story = await fetch(
  `https://hacker-news.firebaseio.com/v0/item/${id}.json`
).then((res) => res.json());
---

<Layout>
  <main class="w-[90%]">
    <div class="flex flex-col items-center border-b pt-5">
      <div class="flex flex-row items-center w-full pb-5">
        <h1>
          <a class="pr-5" href="/hn">&larr;</a>
          <a href={story.url} target="_blank" class="underline">{story.title}</a
          >
        </h1>
      </div>
      {
        story.text && (
          <div class="pt-4 border-t">
            <Fragment
              set:html={story.text.replace(
                /news.ycombinator.com\/item\?id=/g,
                "taybart.com/hn/"
              )}
            />
          </div>
        )
      }
    </div>
    {story.kids.map((id) => <Comment client:load id={id} level={0} />)}
  </main>
</Layout>

<style>
  h1 {
    @apply text-2xl;
  }
</style>
