<header class="header">
  <style type="text/css" media="screen">
    <!--
    @import url("/css/header.css");
    -->
  </style>
    <a href="/"><h1 class="header-left">TB</h1></a>
    <nav class="header-right">
      <a class="nav-link" activeClassName="active" href="/resume">resume</a>
      <a class="nav-link" activeClassName="active" href="/hn">hn</a>
    </nav>
</header>
