<!DOCTYPE html>
<html>
  <head>
    {{ template "meta.tmpl" . }}
    <style type="text/css" media="screen">
      <!--
        @import url("/css/index.css");
        @import url("/css/resume.css");
      -->
    </style>
  </head>
  <body>
    {{ template "header.tmpl" . }}
    <div class="resume">
      <div class="resumelist">
        <ul class="list">
          <li>
            <div>2019-now <b>principal engineer & developement manager</b> journey</div>
            <div>2018-2019 <b>lead software engineer</b> journey</div>
            <div style="paddingLeft: 3%"> Journey is bringing trust, identity and zero-knowledge privacy to the contact center & beyond </div>
          </li>
          <li> 2017-2018 <b>lead software engineer</b> the spiga group </li>
          <li> 2014-2017 <b>co-founder</b> mfactor engineering </li>
          <li> 2015 <b>bs</b> electrical and computer engineering, university of colorado</li>
        </ul>
        <b>things i know well</b>
        <ul>
          <li> language </li>
          <ul>
            <li> go </li>
            <li> js/node </li>
            <li> python </li>
            <li> c </li>
          </ul>
          <li> web frameworks </li>
          <ul>
            <li> react </li>
          </ul>
          <li> ops </li>
          <ul>
            <li> linux </li>
            <li> docker </li>
            <li> k8s </li>
            <li> aws </li>
            <li> gcp </li>
          </ul>
        </ul>
        <b>things i made</b>
        <ul>
          <li>
            <a href="https://github.com/taybart/fm">fm</a>
          </li>
          <li>
            <a href="https://github.com/taybart/rest">rest</a>
          </li>
          <li>
            <a href="https://github.com/taybart/log">log</a>
          </li>
          <li>
            <a href="https://github.com/taybart/paint">paint</a>
          </li>
          <li>
            <a href="/hn">my hacker news</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
