.hn {
  padding-top: 60px;
  margin-right: 25px;
  margin-left: 25px;
  padding-left: 0px;
}

.hn-post-title {
  font-size: 1.2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
  border-bottom: 2px solid black;
}
/* .hn-post-comments-link { */
.hn-post-comments-link {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: flex-end;
}
.hn-post-comments-link img {
  vertical-align: middle;
}

.hn-post-back {
  padding-right: 10px;
  height: 100%;
}

.hn-post-list {
  list-style: none;
}

.hn-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  border-bottom: 2px solid black;
}
.hn-post a:hover {
  color: black;
  text-decoration: none;
}

.hn-comment {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.hn-comment a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hn-comment-count {
  margin-left: auto;
  align-self: flex-end;
  /* justify-self: flex-end; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  padding: 5px;
  background: #fff;
  border: 2px solid black;
  color: black;
  text-align: center;
  font-size: 10px;
}

pre {
  background-color: #f6f8fa;
}

@media (max-width: 768px) {
  .hn-post {
    min-height: 100px;
  }

.hn-comment {
  cursor: pointer;
  height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

  .hn-post-title {
    justify-content: space-between;
    font-size: 1.2em;
    justify-self: center;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .hn {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0;
    margin-right: 0;
  }
}
