input[type='text'],
input[type='password'] {
  height: 2em;
  &,
  textarea {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    border: none;
    border-bottom: 1px solid var(--main-fg-color);
  }
  &:focus {
    outline: none;
  }
}
textarea {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  border: none;
  border-bottom: 1px solid var(--main-fg-color);
  &:focus {
    outline: none;
  }
}

button {
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-fg-color);
  padding: 0.5em;
  &:hover {
    background-color: var(--main-fg-color);
    color: var(--main-bg-color);
  }
}

ul {
  list-style: none;

  & > li {
    border-bottom: 1px solid var(--main-fg-color);
    /* padding: 0.5em 0; */
  }
}

a {
  color: var(--main-fg-color);
}

.button {
  display: inline-block;
  padding: 10px;
  background: var(--main-bg-color);
  color: var(--main-fg-color);
  border: 1px solid var(--main-bg-color);
  cursor: pointer;
  &:hover {
    border: 1px solid var(--main-fg-color);
  }
}
.checkmark {
  content: '\2713';
  color: var(--main-fg-color);
}

progress {
  border-radius: 7px;
  height: 22px;
  background-color: var(--main-bg-color);
}
progress::-webkit-progress-bar {
  background-color: var(--main-bg-color);
}
progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: var(--main-fg-color);
}
progress::-moz-progress-bar {
  background-color: var(--main-fg-color);
}
