---
const inner = `absolute w-20 h-20 rounded-full border-dark dark:border-white`;
---

<div class={`radius absolute t-50 r-50`}>
  <div class={`${inner} l-0 t-0 border-b-4 animate-loadingone`}></div>
  <div class={`${inner} r-0 t-0 border-r-4 animate-loadingtwo`}></div>
  <div class={`${inner} r-0 b-0 border-t-4 animate-loadingthree`}></div>
</div>
